@model HomeVM

<br />
<br />

<form asp-action="Index" method="get">
    <div class="row container">
        @if (User.IsInRole(Constants.Admin) || User.IsInRole(Constants.User))
        {
            <a asp-action="" class="btn btn-outline-info  form-control  productPropositionModal col-5 col-md-2 " data-toggle="modal">
                Your Product
            </a>
            <a asp-action="" class="btn btn-outline-info form-control shopPropositionModal offset-1 col-5 col-md-2" data-toggle="modal">
                Your Shop
            </a>
            <a asp-action="Comparison" class="btn btn-outline-info form-control  mt-2 mt-md-0 offset-md-1 col-5 col-md-2" style="margin-bottom:20px">
                Compare
            </a>
            <a asp-action="Reports" class="btn btn-outline-info offset-1 mt-2 col-5  mt-md-0 col-md-2" style="margin-bottom:20px">
                Reports
            </a>
        }
    </div>
    <br />
    <partial name="_SearchByProductByCategoryAndByShop" />
    <div class="mt-4">
        @foreach (var product in Model.Products)
        {
            <div class="border border-info rounded col-12" style="margin-bottom:10px; margin-top:10px; padding:10px;">
                <div class="row">
                    <div class="col-md-3 col-6">
                        @{
                            var base64 = Convert.ToBase64String(product.Picture);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }
                        <img src="@imgsrc" width="60%" style="border-radius:5px;border:1px solid #bbb9b9" />
                    </div>
                    <div class="col-md-9  col-6 ">
                        <div class="row pr-3">
                            <div class="col-8">
                                <label class="text-primary" style="font-size:21px;color:maroon">@product.Name  w @product.Shop.Name</label>
                            </div>
                            <div class="col-4 text-right text-success">
                                <h4>@product.Price  &euro;</h4>
                            </div>
                        </div>
                        <div class="row col-12 text-justify d-none d-md-block">
                            <p>@Html.Raw(product.Description)</p>
                        </div>
                        @if (User.IsInRole(Constants.User) || User.IsInRole(Constants.User))
                        {
                            <div class="col-md-3 col-sm-12 offset-md-9 text-center " style="position:absolute;bottom:0;right:1%;">
                                <a asp-action="ProductDetails" class="btn btn-info form-control" asp-route-id="@product.Id">Details</a>
                            </div>
                        }
                    </div>
                </div>
            </div>

        }
    </div>
    <br />
    <partial name="_Pagination" model="@Model.PagingInfo" />
    <br />
</form>

<div class="modal fade" id="modalProductProposition" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog-centered modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-light ">
                <div class="col-10 offset-1 text-center">
                    <h4 class="modal-title">Please give us your shop proposition</h4>
                </div>
                <div class="col-1">
                    <button type="button" class="float-right btn-outline close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body justify-content-center" id="myProductPropositionModalContent">
                <div class="col-md-12">
                    <form method="post" asp-action="ProductProposition" enctype="multipart/form-data">
                        <div class="font-weight-bold text-info">
                            <input type="hidden" asp-for="@Model.ProductProposition.CategoryId" id="categoryId" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group row">
                                <div class="col-2">
                                    <label asp-for="@Model.ProductProposition.Name" class="col-form-label">Product name:</label>
                                </div>
                                <div class="col-5 offset-1">
                                    <input asp-for="@Model.ProductProposition.Name" class="form-control" />
                                </div>
                                <span asp-validation-for="@Model.ProductProposition.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-2">
                                    <label asp-for="@Model.ProductProposition.Description" class="col-form-label ">Product Description:</label>
                                </div>
                                <div class="col-5 offset-1">
                                    @Html.TextAreaFor(m => m.ProductProposition.Description, new { @class = "form-control", @rows = 3 })
                                </div>
                                <span asp-validation-for="@Model.ProductProposition.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-2">
                                    <label asp-for="@Model.ProductProposition.Price" class="col-form-label ">Product price:</label>
                                </div>
                                <div class="col-5 offset-1">
                                    <input asp-for="@Model.ProductProposition.Price" class="form-control" />
                                </div>
                                <span asp-validation-for="@Model.ProductProposition.Price" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-2 ">
                                    <label asp-for="@Model.ProductProposition.Picture" class="col-form-label ">Product picture</label>
                                </div>
                                <div class="col-5 offset-1">
                                    <input type="file" name="files" multiple class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-2">
                                    <label for="Category" class="col-form-label ">Product category:</label>
                                </div>
                                <div class="col-5 offset-1">
                                    <input type="text" autocomplete="off" id="Category" placeholder="Select" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-2">
                                    <label asp-for="@Model.ProductProposition.ShopId" class="col-form-label ">Shop: </label>
                                </div>
                                <div class="col-5 offset-1">
                                    <select asp-for="@Model.ProductProposition.ShopId" id="ShopId" asp-items="@ViewBag.ShopsSelectList" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-2">
                                    <label asp-for="@Model.ProductProposition.AdditionalInformation" class="col-form-label ">Additional Information:</label>
                                </div>
                                <div class="col-5 offset-1">
                                    @Html.TextAreaFor(m => m.ProductProposition.AdditionalInformation, new { @class = "form-control", @rows = 3 })
                                </div>
                                <span asp-validation-for="@Model.ProductProposition.AdditionalInformation" class="text-danger"></span>
                            </div>
                            <div class="col-12 mt-3 ">
                                <input type="submit" class="btn btn-info form-control mb-2" value="Send" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalShopProposition" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog-centered modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-light ">
                <div class="col-10 offset-1 text-center">
                    <h4 class="modal-title">Please give us your shop proposition</h4>
                </div>
                <div class="col-1">
                    <button type="button" class="float-right btn-outline close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body justify-content-center" id="myShopPropositionModalContent">
                <div class="col-md-12">
                    <form method="post" asp-action="ShopProposition">
                        <div class="text-info font-weight-bold">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group row">
                                <div class="col-2">
                                    <label asp-for="@Model.ShopProposition.Name" class="col-form-label">Shop name:</label>
                                </div>
                                <div class="col-5 ">
                                    <input asp-for="@Model.ShopProposition.Name" class="form-control" />
                                </div>
                                <span asp-validation-for="@Model.ShopProposition.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-2">
                                    <label asp-for="@Model.ShopProposition.City" class="col-form-label">Shop city location:</label>
                                </div>
                                <div class="col-5">
                                    <input asp-for="@Model.ShopProposition.City" class="form-control" />
                                </div>
                                <span asp-validation-for="@Model.ShopProposition.City" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-2">
                                    <label asp-for="@Model.ShopProposition.Country" class="col-form-label">Shop country location:</label>
                                </div>
                                <div class="col-5">
                                    <input asp-for="@Model.ShopProposition.Country" class="form-control" />
                                </div>
                                <span asp-validation-for="@Model.ShopProposition.Country" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-2">
                                    <label asp-for="@Model.ShopProposition.StreetAddress" class="col-form-label">Shop street location:</label>
                                </div>
                                <div class="col-5">
                                    <input asp-for="@Model.ShopProposition.StreetAddress" class="form-control" />
                                </div>
                                <span asp-validation-for="@Model.ShopProposition.StreetAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-2">
                                    <label asp-for="@Model.ShopProposition.PostalCode" class="col-form-label">Shop postal code:</label>
                                </div>
                                <div class="col-5">
                                    <input asp-for="@Model.ShopProposition.PostalCode" class="form-control" />
                                </div>
                                <span asp-validation-for="@Model.ShopProposition.PostalCode" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-2">
                                    <label asp-for="@Model.ShopProposition.AdditionalInformation" class="col-form-label">Additional information:</label>
                                </div>
                                <div class="offset-1 col-5">
                                    @Html.TextAreaFor(m => m.ShopProposition.AdditionalInformation, new { @class = "form-control", @rows = 3 })
                                </div>
                                <span asp-validation-for="@Model.ShopProposition.AdditionalInformation" class="text-danger"></span>
                            </div>
                            <div class="col-12 mt-3 ">
                                <input type="submit" class="btn btn-info form-control mb-2" value="Send" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/comboTreePlugin.js"></script>
    <script>
        const url = "/Admin/Category/GetCategories";

        $(() => {
            $(".shopPropositionModal").click(() => {
                $('#modalShopProposition').modal('show');
            });
            $(".productPropositionModal").click(() => {
                $('#modalProductProposition').modal('show');
            });
        });

        $(document).ready(() => {
            $.getJSON(url, data => {
                $("#categoryId").val(data[0].id);

                const instance = $('#Category').comboTree({
                    source: data,
                    selected: ['0'],
                    isMultiple: false
                });

                $('#Category').change(() => {
                    let ids = instance.getSelectedIds();
                    $("#categoryId").val(ids[0]);
                });

            })
        })

    </script>
}

