@model ShopPropositionListVM

@{
    ViewData["Title"] = "Shop's proposition list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="col-12 text-center">
    <h1 class="text-secondary"> Shop's  proposition list</h1>
</div>
<form method="get">
    <br />
    <br />
    <div class="p-1">
        @if (Model.ShopPropositions.Count() > 0)
        {
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Shop name
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Postal code
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.ShopPropositions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.PostalCode)
                        </td>
                        <td>
                            <a asp-action="ShopPropositionDetails" asp-route-id="@item.Id" class="btn btn-info form-control">Details</a>
                        </td>
                    </tr>
                }
            </table>
            <partial name="_Pagination" model="@Model.PagingInfo" />
        }
        else
        {
            <p>No propositions exist...</p>
        }
    </div>
    <div class="col-12">
        <a asp-action="Index" class="btn btn-info form-control col-3 mt-2">
            Back
        </a>
    </div>
</form>

