@model ReportListVM

<br />
<div class="row p-1">
    <div class="text-center col-12">
        <h1 class="text-info "> Report's List</h1>
    </div>
</div>
<br />
<form method="get">
    <partial name="_SearchByProductAndByCategory"/>
    <div class="p-1">
        @if (Model.Reports.Count() > 0)
        {
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Product name
                    </th>
                    <th>
                        Category name
                    </th>
                    <th>
                        Subcategory name
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model.Reports)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.SubCategoryName)
                    </td>
                    <td>
                        <a class="btn btn-info text-white mr-2" asp-action="ReportDetails" asp-route-Id="@item.Id">
                            <i class="fas fa-list-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        </table>
            <partial name="_Pagination" model="@Model.PagingInfo" />
        }
        else
        {
            <p>No reports exist...</p>
        }
    </div>
    <div class="form-group row">
        <div class="col-3 ">
            <a asp-action="Index" class="btn btn-secondary form-control">Back</a>
        </div>
    </div>
</form>


