@model ShopListVM

@{
    ViewData["Title"] = "Shop's list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<form method="get">
        <div class="col-12 text-center">
            <h1 class="text-secondary"> Shop's List</h1>
        </div>
    <br />
    <br />
    <div class="row container">
        <div class="col-11">
            <div class="row" style="padding-top:10px">
                <div class="col-6">
                    @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Shop name..." } })
                </div>
                <div class="col-6">
                    @Html.Editor("searchCity", new { htmlAttributes = new { @class = "form-control", @placeholder = "Shop city..." } })
                </div>
            </div>
        </div>
        <div class="col-1">
            <div class="row" style="padding-top:10px;">
                <button type="submit" name="submit" value="Search" class="btn btn-info form-control">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="p-1">
        @if (Model.Shops.Count() > 0)
        {
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Shop name
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Postal code
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.Shops)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.PostalCode)
                        </td>
                        <td>
                            <partial name="_TableButtonPartial" model="item.Id" />
                        </td>
                    </tr>
                }
            </table>
            <div page-model="@Model.PagingInfo" page-classes-enabled="true" page-class="btn border"
                 page-class-normal="btn btn-light" page-class-selected="btn btn-info active"
                 class="btn-group float-right "></div>
            <br />
        }
        else
        {
            <p>No shops exist...</p>
        }
    </div>
    <br />
    <div class="col-6 offset-6 text-right">
        <partial name="_CreateButtonPartial" />
    </div>
</form>

